[package]
name = "engine"
version = "0.1.0"
edition = "2024"

[dependencies]
media-ffmpeg = { path = "../media-ffmpeg" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tracing = "0.1"
