name: ci

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ci:
    name: ci
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - task: format
            command: cargo metadata --format-version 1 --locked > /dev/null && cargo fmt --all -- --check
          - task: clippy
            command: cargo clippy --workspace --all-targets --all-features --locked -- -D warnings
          - task: test
            command: cargo test --workspace --all-targets --locked
            requires_ffmpeg: true

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Install ffmpeg
        if: matrix.requires_ffmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Cache cargo
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - name: Run ${{ matrix.task }}
        run: ${{ matrix.command }}
